body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#addButton {
    padding: 10px 20px;
    
}
#progressContainer {
    margin-top: 20px;
    display: flex;
    
}
.progress-bar {
    width: 0;
    height: 25px;
    background-color: #4caf50;
    
}
.progress-wrapper {
    width: 600px;
    background-color: #ddd;
   
}
